/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: 100%;
}
// Profile
.profile {
  img {
    width: 80%;
    border: 4px solid black;
    margin:  5 auto;
    display: block; // Add this line to ensure the border is visible.
    border-radius: 50%; // Add this line to make the border circular.
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); // Add this line to add a subtle shadow.
    height: 70%; // Add this line to adjust the height according to the image's aspect ratio.
    margin-top: 10px; // Add this line to add margin from the text.
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
