---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


/* Add styles for carousel */
.carousel-item img {
  width: 100%;
  height: auto;
}

/* Add CSS animation */
.animated-image img {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Add more animations as needed */

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;
